html {
    background-color: #b19cd9;
}

article  img {
    width: 600px;
}

#header {
    max-width: 100%;
}

  /* Removed centered image
  a.fa.fa-twitter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  } */